.container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 1rem;
}

.buttons-game {
    background-color: #dd1d1d;
    padding: .5rem;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    width: 120%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.container-extra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;   
}

.card {
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 10px;
    width: 300px;
    height: auto;
}
    
.card-out {
    transform: translateY(-100px) rotateZ(20deg);
    opacity: 0;
}

.title-close {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    text-align: center;
} 

.premium-card {
    padding: .5rem;

}

.container-app {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding-top: 10rem;
    position: fixed;
}

.container-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    /* background-color: black; */
}

.logo-svg {
    width: 30%;
}

.container-more-decks {
    position: fixed;
    bottom: 20px;
    right: 15px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container-more-decks:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 375px) {
    .card {
        width: 260px;
    }

}

@media screen and (min-width: 1024px) {
    .logo-svg {
        width: 10%;
    }
    .container-buttons {
        width: 15%;
    }
    .card {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1024px) {

    .container-app {
        padding-top: 6rem; 
    }

}
