@import url('https://fonts.cdnfonts.com/css/lufga');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lufga', sans-serif;
}

body {
    /* background-color: #000039; */
    background-image: url("https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Untitled_design.svg?v=1733860282");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}