.container-como-jogar {
    padding: 3rem;
    color: white;
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding-top: 6rem;
    overflow: auto;
}

.title-como-jogar {
    text-align: center;
    font-size: 22px;
}
.sub-title-como-jogar {
    text-align: center;
    padding-top: .5rem;
}

.span-como-jogar {
    color: #dd1d1d
}

.game-como-jogar {
    padding-top: 4rem;
    font-size: 14px;
}

.h3-title-como-jogar {
    padding-bottom: 1rem;
    font-size: 18px;
}

.ol-como-jogar {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.a-como-jogar {
    color: #dd1d1d;
}

@media (min-width: 1024px) {

}