.main-login {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20vh;
}

.login-button {
    padding: .5rem;
    width: 100px;
    border-radius: 12px;
    border: none;
    background-color: #dd1d1d;
    color: white;
    font-weight: bold;
}